*{
    padding: none;
    margin: none;
    list-style-type: none;
    box-sizing: border-box;
}

/* body{
    background-color: red;
} */

.flex-container{
    display: inline-flex;
    margin-top: 30px;
}
.flex-container li{
    margin-right: 12px;
}
.registerLink a{
    text-decoration: none;
    color: black;
    border: 2px solid cyan;
    padding: 5px 12px 5px 12px;
    background-color: cyan;
    border-radius: 5px;
}
.loginLink a{
    text-decoration: none;
    color:black;
    border: 2px solid cyan;
    padding: 5px 15px 5px 15px;
    background-color: cyan;
    border-radius: 5px;
}
.icon_section{
    display: flex;
    justify-content: space-evenly;
}
.navbar-nav .menu_content{
    display: inline-flex;
    justify-content: space-around;
}

/* .menu_content{
    background-color: gray;
} */

